<loading [state]="loading">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="page-header">Invoice List</h4>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr/>
    <div class="card form-group">
      <div class="card-header" style="background: #fff;border: none;">
        <div class="row">
          <div class="col-md-3">
            <ng-select class="form-control" placeholder="Select Customer" (change)="customerChange($event)" [clearable]="false" name="customer"
              [(ngModel)]="customer">
              <ng-option [value]="0">Select Customer</ng-option>
              <ng-option *ngFor="let customer of customer_list" [value]="customer.id">{{customer.name}}</ng-option>
            </ng-select>
          </div>
          <div class="col-md-3">
            <ng-select class="form-control" placeholder="Select Invoice" [clearable]="false" name="invoice" (change)="invoiceChange($event)">
              <ng-option [value]="0">Select Invoice</ng-option>
              <ng-option *ngFor="let invoice of invoice_list" [value]="invoice.id">{{invoice.purchase_inv_no}}</ng-option>
            </ng-select>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #f="ngbDatepicker" [(ngModel)]="date">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="f.toggle()" type="button">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <select class="form-control" [(ngModel)]="status" name="status">
              <option value="">Select Status</option>
              <option value="paid">Paid</option>
              <option value="unpaid">Unpaid</option>
              <option value="mailed">Mailed</option>
            </select>
          </div>
          <div class="col-md-1">
            <button type="submit" class="btn btn-secondary" (click)="dataSearch()">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card" *ngIf="Search_invoice_list_key">
          <div class="card-header">
            <div class="row">
              <div class="col-md-9">
                <h5>Invoices</h5>
              </div>
            </div>
          </div>
          <table class="card-body table table-hover table-sm table-bordered">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" [checked]="selectedAll" (click)="toggleAll($event)">
                </th>
                <th>Sl.No.</th>
                <th>Invoice No.</th>
                <th>Customer Name</th>
                <th>Customer Address</th>
                <th>Due Amount</th>
                <th>Created Date</th>
                <th>Due Date</th>
                <th>Mail</th>
                <th>paid</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invoice of invoiceList ; let i = index">
                <td width="20px">
                  <input type="checkbox" *ngIf="invoice.is_approve==0" [checked]="invoice.checked" (change)="invoiceCheck($event,invoice.customer_details.id,invoice.id,invoice)">
                </td>
                <td>{{itemNo + i + 1}}</td>
                <td>{{invoice.purchase_inv_no}}</td>
                <td>{{invoice.customer_details.name}}</td>
                <td>{{invoice.customer_details.address}}</td>
                <td>{{invoice.due_amount}}</td>
                <td>{{invoice.created_at | date:'dd-MM-yyyy'}}</td>
                <td>{{invoice.due_date | date:'dd-MM-yyyy'}}</td>
                <td>
                  <label *ngIf="invoice.mail_status==false">Unmailed</label>
                  <label *ngIf="invoice.mail_status==true">Mailed</label>
                </td>
                <td>
                  <label *ngIf="invoice.paid_status==false">Unpaid</label>
                  <label *ngIf="invoice.paid_status==true">paid</label>
                </td>
                <td>
                  <label *ngIf="invoice.is_approve==0">None</label>
                  <label *ngIf="invoice.is_approve==1">Pending</label>
                  <label *ngIf="invoice.is_approve==2">Approve</label>
                  <label *ngIf="invoice.is_approve==3">Rejected</label>
                </td>
                <td>
                  <a href="javascript:void(0);" class="anchor-action" title="approval request" name="approval request" *ngIf="invoice.is_approve==0"
                    (click)="sendMail(invoice.customer_details.id,invoice.id)">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
              <tr *ngIf="invoiceList.length == 0">
                <td colspan="12" class="text-center">No record found</td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12 text-right" style="margin-bottom: 15px;">
            <button type="submit" class="btn btn-primary" (click)="bulkMailSend()">Approval Request</button>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card-body pagination-msg" *ngIf="totalInvoiceList > 0">
                <p>Showing {{lower_count}} to {{upper_count}} of {{totalCustomerList}} entries</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-body pull-right" *ngIf="totalInvoiceList > itemPerPage">
                <ngb-pagination [collectionSize]="totalInvoiceList" [maxSize]="paginationMaxSize" [(page)]="defaultPagination" (pageChange)="pagination()"
                  size="sm"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card" *ngIf="invoice_details_key">
          <div class="card-header">
            <div class="row">
              <div class="col-md-12">
                <h5>Invoice Number :{{invoice_details.purchase_inv_no}} </h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <table class="card-body table table-hover table-sm table-bordered">
                  <tbody>
                    <tr>
                      <td>Customer Name :{{invoice_details.customer_details.name}}</td>
                      <td>Customer Addrerss :{{invoice_details.customer_details.address}}</td>
                      <td>Due Amount : {{invoice_details.due_amount}}</td>
                      <td>created_at:{{invoice_details.created_at | date:'dd-MM-yyyy' }}</td>
                      <td>Due Date :{{invoice_details.due_date | date:'dd-MM-yyyy'}}</td>
                      <td *ngIf="invoice_details.is_approve==0">
                        <a href="javascript:void(0);" class="anchor-action" title="approval request" name="approval request" (click)="sendMail(invoiceList_details.customer_details.id,invoiceList_details.id)">
                          <i class="fa fa-paper-plane"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</loading>