<loading [state]="loading">
  <div>
      <!-- <form role="form" novalidate> -->
      <div class="row">
        
        <div class="col-md-6">
          <h4 class="page-header">Invoice List</h4>
        </div>
        <div class="clearfix"></div>
      </div>
  
      <hr/>
      <div class="card form-group">
        <div class="card-header" style="background: #fff;border: none;">
          <div class="row">
            <div class="col-md-3">
              <select class="form-control" (change)="customerNameChange($event.target.value)"  name="customer" [(ngModel)]="customer">
                <option value="">Select Customer Name</option>
                <option value="{{customerName.id}}" *ngFor="let customerName of customerName_list">{{customerName.name}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <select class="form-control" name="customerInvoice" (change)="customerInvoiceChange($event.target.value)" [(ngModel)]="customerInvoice" >
                <option value="">Select Invoice</option>
                <option  *ngFor="let customer_invoice of customer_invoice_list" value="{{customer_invoice.id}}">{{customer_invoice.purchase_inv_no}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #f="ngbDatepicker" [(ngModel)]="date" >
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="f.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <select class="form-control" [(ngModel)]="status" name="status">
                <option value="">Select Status</option>
                <option value="paid">Paid</option>
                <option value="unpaid">Unpaid</option>
                <option value="mailed">Mailed</option>
              </select>
            </div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-secondary" (click)="search()">Search</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card" *ngIf="Search_invoice_list_key">
            <table class="card-body table table-hover table-sm table-bordered">
              <thead>
                <tr>
                  <th>
                    <input type="checkbox" [(ngModel)]="selectedAll"  (click)="toggleAll($event)">
                  </th>
                  <th>Sl.No.</th>
                  <th>Invoice No.</th>
                  <th>Customer Name</th>
                  <th>Customer Address</th>
                  <th>Due Amount</th>
                  <th>Created Date</th>
                  <th>Due Date</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let invoice of invoiceList ; let i = index">
                  <td width="20px">
                  <input type="checkbox" [checked]="invoice.checked" (change)="invoiceCheck($event,invoice.customer_details.id,invoice.id)" >
                  </td>
                  <td>{{i +1}}</td>
                  <td>{{invoice.purchase_inv_no}}</td>
                  <td>{{invoice.customer_details.name}}</td>
                  <td>{{invoice.customer_details.address}}</td>
                  <td>{{invoice.due_amount}}</td>
                  <td>{{invoice.created_at | date:'dd-MM-yyyy'}}</td>
                  <td>{{invoice.due_date | date:'dd-MM-yyyy'}}</td>
                  <td> 
                    <label *ngIf="invoice.paid_status==false">Unpaid</label>
                    <label *ngIf="invoice.paid_status==true">paid</label>
                  </td>
                  <td>
                    <a href="javascript:void(0);" class="anchor-action" title="approval" name="Send Mail">
                      <i  (click)="sendMailByAllInvoice($event,invoice.customer_details.id)" class="fa fa-check" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
                <tr *ngIf="invoiceList.length == 0">
                    <td colspan="12" class="text-center">No record found</td>
                  </tr>
              </tbody>
            </table>
            <div class="col-md-12 text-right" style="margin-bottom: 15px;">
              <button type="submit" class="btn btn-primary" (click)="sendMailByAllInvoice($event)">Approval</button>
            </div>
            <div class="col-md-12">
                <div class="pagination-msg" *ngIf="totalInvoiceList > 0">
                  <p>Showing {{lower_count}} to {{upper_count}} of {{totalCustomerList}} entries</p>
                </div>
            </div>
          </div>
          
      </div>
        <div class="card" *ngIf="invoice_details_key">
         <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <h5>Invoice Number :{{invoiceList.purchase_inv_no}} </h5>
                  </div>
            </div>
         </div>
         <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                  <table class="card-body table table-hover table-sm table-bordered">
                    <tbody><tr>
                      <td>Customer Name :{{invoiceList.customer_details.name}}</td>
                      <td>Customer Addrerss :{{invoiceList.customer_details.address}}</td>
                      <td>Due Amount : {{invoiceList.due_amount}}</td>
                      <td>created_at:{{invoiceList.created_at | date:'dd-MM-yyyy' }}</td>
                      <td>Due Date :{{invoiceList.due_date | date:'dd-MM-yyyy'}}</td>
                      <td> <a href="javascript:void(0);" class="anchor-action" title="Send Mail" name="Send Mail">
                          <i  (click)="sendMailByAllInvoice($event,invoiceList.customer_details.id)" class="fa fa-envelope"></i>
                        </a></td>
                    </tr>
                  </tbody>
                    </table>
                </div>
            </div>
         </div>

        </div>
      </div>
     
    </div>
    <!-- </form>  -->
    
</loading>